<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hermes.hermes.mapper.MyPageMapper">

    <select id="myPageService_getUserPurchase">
        select *
        from PURCHASE
        WHERE PURCHASE_USER_ID = #{user_id}
    </select>

    <update id="myPage_infoCorrection">
        update USER
        SET USER_VERIFICATION_ANSWER = #{user_verification_answer}, USER_PW = #{user_pw}
        WHERE USER_ID = #{user_id}
    </update>
</mapper>