<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hermes</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>

<div class="my_page_container">
    <th:block th:replace="layout/header :: header"></th:block>
    <div class="my_page_user_information"> <!-- 현재 로그인한 유저 정보 보여주는 div -->
        <h3>아이디</h3>
        <p th:text="${user.user_id}"></p>
        <h3>이름</h3>
        <p th:text="${user.user_name}"></p>
    </div>

    <div>
        <a href="myPage_infoCorrection">내 정보 수정하기</a>
    </div>

    <div class="my_page_user_purchase_history"> <!-- 현재 로그인한 유저 구매이력 보여주는 div -->
        <h3>구매 내역</h3>
        <table>
            <tr th:each="  p   : ${purchases}     ">
                <td th:text="${p.purchase_product_reg_num}"></td>
                <td th:text="${p.purchase_order_id}"></td>
                <td th:text="${p.purchase_product_size}"></td>
                <td th:text="${p.purchase_date}"></td>
                <td th:text="${p.purchase_status}"></td>
            </tr>
        </table>

    </div>
    <th:block th:replace="layout/footer :: footer"></th:block>
</div>

</body>
</html>